<div class="container max-w-2xl">
  <div class="row-span-full border-spacing-x-10 m-10 mt-10">
    <h2 class=" text-4xl font-bold text-blue-800">Listado de Alumnos</h2>
  </div>
  <div class="shadow-sm overflow-hidden my-8 relative rounded-lg m-10">
    <table class="border-collapse table-auto w-full">
      <thead class = "bg-slate-500">
        <th *ngIf="show">
          Código
        </th>
        <th>
          Nombre
        </th>
        <th>
          Estado
        </th>
      </thead >
      <tbody class= "bg-white dark:bg-slate-800 ">
          <tr *ngFor="let alumno of listaAlumnos">
            <td *ngIf="show" class="border-b dark:border-slate-600 font-medium p-4 pr-8 pt-0 pb-3 text-slate-600  text-center">{{alumno.codigo}}</td>
            <td  class="border-b dark:border-slate-600 font-medium p-4 pr-8 pt-0 pb-3 text-slate-600 text-center">{{alumno.nombre |uppercase}}</td>
            <td [ngStyle]="{'color':alumno.estado === 'Aprobado' ? 'blue':'red'}" class="border-b dark:border-slate-600 font-medium p-4 pr-8 pt-0 pb-3 text-center">{{alumno.estado}}</td>
          </tr>
      </tbody>
    </table>
  </div>
  <div class="row-span-full border-spacing-x-10 m-10">
    <button class="text-xl py-2 px-16 bg-cyan-700 rounded-lg" (click)="showCode()"> Mostrar/Ocultar Código</button>
  </div>
  
</div>